{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Menu</title>

  
</head>

<body>

<div class="phone">

  <div class="back">戻る</div>

  <section class="screen">
    <h1>MENU</h1>

    <div class="menu-item">👤 アカウント</div>
    <div class="menu-item">🚪 ログアウト</div>
    <div class="menu-item">❓ ヘルプ</div>
  </section>

</div>

</body>
</html>
