{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="stylesheet" href="{% static 'css/top.css' %}">

  <title>Top Page</title>

  

  
</head>

<body>

<div class="phone">

  <div class="menu-icon">
    <span></span><span></span><span></span>
  </div>

  <!-- 中央表示 -->
  <div class="center-box">
    <div class="title">今月の<br>記録</div>
    <div class="time">
      <span class="num">00</span><br>
      <span class="unit">h/min</span>
    </div>
  </div>

  <!-- 家 + 吹き出し -->
  <div class="item top">
    <div class="bubble">7分</div>
    <div class="house"></div>
  </div>

  <div class="item left">
    <div class="bubble">3分</div>
    <div class="house"></div>
  </div>

  <div class="item bottom">
    <div class="bubble">10分</div>
    <div class="house"></div>
  </div>

</div>

</body>
</html>
